<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Edit your {{ business.name }}</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes. Any Unsaved changes
        will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{{ business.photoUrl || '../../assets/noImageUploaded.png' }}"
          alt="{{ business.name }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ business.name }}</p>
          </div>
          <div>
            <strong>Office number:</strong>
            <p>{{ business.officeNumber }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-raised btn-success btn-block"
            form="editForm"
            [disabled]="!editForm.dirty"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset #staticTabs class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateBusiness()">
              <div class="form-group">
                <label for="description" class="bmd-label-floating"><b> Description </b></label>
                <textarea
                name="description"
                rows="6"
                class="form-control"
                [(ngModel)]="business.description"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="officeNumber" class="bmd-label-floating"><b> Contact Number </b></label>
                <div class="form-inline">
                  <input
                  class="form-control"
                  type="text"
                  name="officeNumber"
                  [(ngModel)]="business.officeNumber"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="city" class="bmd-label-floating" style="color:black"><b> Address </b></label>
                <input
                class="form-control"
                type="text"
                name="city"
                [(ngModel)]="business.address"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos and videos">
            <app-photo-editor
              [businessId]="business.id"
              [photos]="business.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>

        </tabset>
      </div>
    </div>
  </div>
</div>
