<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ user.userName }}'s Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes. Any Unsaved changes
        will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card mt-3">
        <div class="card-body mt-4">
          <div>
            <strong>Location:</strong>
            <p>{{ user.contactNumber }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ user.created | date }}</p>
          </div>
        </div>
        <div class="card-footer">
          
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input
                name="contactNumber"
                type="text"
                class="form-control"
                [(ngModel)]="user.contactNumber"
                />
              </div>
            </form>
            <button
            class="btn btn-raised btn-success btn-block"
            form="editForm"
            [disabled]="!editForm.dirty"
            >
              Save Changes
            </button>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
