<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{ business.photoUrl }}" alt="{{ business.name }}" class="card-img-top">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-business"></i> 
      {{ business.name }}
    </h6>
    <p class="card-tect card-muted text-center">{{ business.description | slice:0:35 }}...</p>
    <a class="btn btn-primary stretched-link" [routerLink]="[ '/business', business.id ]">More info</a>
  </div>
</div>